

#
# ---------------------------------------------------------------------------
# Copyright 2014-2017 AT&T Intellectual Property
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ---------------------------------------------------------------------------
#
#
#    configuration file for havalet - valet processes monitoring tool.
#    group name is a logical process name.
#    properties MUST have the following properties:
#        'host'
#        'user'
#        'start'
#        'stop'
#        'test'
#
#    IMPORTANT:
#        "test" - MUST return a value != 0, this value should reflects
#            the monitored process priority.
#
#        "process's priority" - used for active/stand-by scenarios.
#            MUST be greater than 0 - lower number means higher priority.
#            e.g. instance which returns '1', as its response to "test" invocation,
#            will get precedence over instance which returns '2' as its priority.
#            priority 0 means thr process is down.
#
#        "stand_by_list" - OPTIONAL property. comma delimited hosts list.
#            used on active/stand-by scenarios.
#            ha_valet will attempt to restart the instance with the lower priority value,
#            only if the instance fails to start, ha_valet will try to restart the process
#            on the following host in the list.

[Ostro]
order=5
priority=2
host=valet2
user=m04060
stand_by_list=valet1
start="ssh -o ConnectTimeout=1 %s@%s 'python /usr/local/lib/python2.7/dist-packages/valet/engine/optimizer/ostro_server/ostro_daemon.py -c start'" % (user, host)
stop="ssh -o ConnectTimeout=1 %s@%s 'python /usr/local/lib/python2.7/dist-packages/valet/engine/optimizer/ostro_server/ostro_daemon.py -c stop'" % (user, host)
test="ssh -o ConnectTimeout=1 %s@%s 'python /usr/local/lib/python2.7/dist-packages/valet/engine/optimizer/ostro_server/ostro_daemon.py ; exit $?'" % (user, host)


[ValetApi]
order=4
priority=2
host=valet2
stand_by_list=valet1
user=m04060
start="ssh -o ConnectTimeout=1 %s@%s 'sudo apachectl start'" % (user, host)
stop="ssh -o ConnectTimeout=1 %s@%s 'sudo apachectl stop'" % (user, host)
test="exit $(wget -T 1 -t 1 -qO- http://%s:8090/v1 | grep CURRENT | wc -l)" % (host)


